<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alta de Productos</title>
    <script language="javascript" type="text/javascript" src="template/static/validar.js"></script>
	<link rel="StyleSheet" href="template/static/MenuesCompletos.css" type="text/css">
</head>
<body> 
<div align="right"> Ud esta logeado como: {{usuario}} <br> <input type="submit" value="deslogear" href="/login/menuProd/bajaProd"> 

</div>
		
<table id="tablaGral" height=750 width=100% ALIGN=center>


	<tr>
		<td colspan="2" id="celdaBienvenida" height="100px">
			
			<div id="Titulos">Gestion de Productos</div>
			
		</td>

	</tr>

	<tr>
	<td id="celdaBienvenida">
		 <div id="menu">
			<ul>
			<li><a id="BotonSeleccionado" href="">Alta de Productos</a>
			</li>
			<li><a id="efectoBoton" href="/login/menuProd/bajaProd">Baja de Productos</a>
			</li>
			<li><a id="efectoBoton" href="/login/menuProd/modificacionProd">Modificacion de Productos</a>
			</li>
			<li><a id="efectoBoton" href="Gestion de Productos.html">Volver a Gestion de Productos</a>
			</li>
			<li><a id="efectoBoton" href="????.html">Listar Productos</a>
			</li>
			</ul>
		</div>

		<td id="aplicacion">

			<table align="center" id="Formularios">
				    <tr><td colspan="2" align="center">{{estado}}</td></tr>
			<form method="POST" action="" onSubmit="return valida(this)">
				<tr>
				    <td id="fuenteCeldaI">Nombre del Producto: </td>
				    <td id="fuenteCeldaD"><input type="text" name="nombre"></td>
				</tr>

				<tr>
				    <td id="fuenteCeldaI">Tipo de Producto </td>

				    <td id="fuenteCeldaD"><select name="tipoProducto">
   
					  {% for item in tipoProductos %}
						<option value="{{item.pk}}">{{item}}</option>
					  <p>{{item.nombre}}</p>
					  {% endfor %}
					    </select>					</td>




				</tr>

				<tr>
				    <td id="fuenteCeldaI">Stock Total </td>
				    <td id="fuenteCeldaD"><input type="text" name="stock">			</td>
				</tr>

				<tr>
				    <td id="fuenteCeldaI">Descripcion </td>
				    <td id="fuenteCeldaD"><br><textarea cols="30" rows"8" name="descripcion"></textarea></td>
				</tr>

				<tr>
				    <td align="right"><input type="submit" value="Dar de Alta">			</td>
				</tr>
			</form>

			</table>
		</td>
	</td>

	</tr>



</table>


 
</body>
</html>
