<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Alta de Productos</title>
	<link rel="StyleSheet" href="template/static/MenuesCompletos.css" type="text/css">
</head>
<body> 


<div align="right"> Ud esta logeado como: {{usuario}} 


<form action="index.php" method="post" name="login" id="login">	

<input type="submit" name="Submit" class="button" value="Finalizar sesion" />	
<input type="hidden" name="option" value="com_user" />
<input type="hidden" name="task" value="logout" />
<input type="hidden" name="return" value="<?php echo $this->return; ?>" />
</form>	

</div>
		
<table id="tablaGral" height=750 width=100% ALIGN=center>


	<tr>
		<td colspan="2" id="celdaBienvenida" height="100px">
			
			<div id="Titulos">Gestion de Productos</div>
			
		</td>

	</tr>

	<tr>
	<td id="celdaBienvenida">
		 <div id="menu">
			<ul>
			<li><a id="BotonSeleccionado" href="">Alta de Productos</a>
			</li>
			<li><a id="efectoBoton" href="Baja Producto.html">Baja de Productos</a>
			</li>
			<li><a id="efectoBoton" href="ModProd.html">Modificacion de Productos</a>
			</li>
			<li><a id="efectoBoton" href="Gestion de Productos.html">Volver a Gestion de Productos</a>
			</li>
			<li><a id="efectoBoton" href="????.html">Listar Productos</a>
			</li>
			</ul>
		</div>

		<td id="aplicacion">

			{{estado}}
			<table align="center">
				<tr>
				<td id="Formularios">
					<form method="POST" action="">
					Nombre del Producto: <input type="text" name="nombre"><br>
					Tipo de Producto:
						<select name="calificacion">
							<option value="1">pone</option>
							<option value="2">aca</option>
							<option value="3">tus</option>
							<option value="4">Tipos</option>
							<option value="5">Wampa</option>
						</select>
					<br>

					Stock: <input type="text" name="stock"><br>
					Descripcion: <br><textarea cols="30" rows"8" name="descripcion"></textarea><br>


					<input type="submit" value="Dar de Alta">
					</form>
				</td>
				</tr>
			</table>
		</td>
	</td>

	</tr>



</table>


 
</body>
</html>