<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>bsMateriales</title>
	<link rel="StyleSheet" href="template/static/MenuesCompletos.css" type="text/css">
</head>
<body> 


<div align="right"> Ud esta logeado como: {{usuario}} 


<form action="index.php" method="post" name="login" id="login">	

<input type="submit" name="Submit" class="button" value="Finalizar sesion" />	
<input type="hidden" name="option" value="com_user" />
<input type="hidden" name="task" value="logout" />
<input type="hidden" name="return" value="<?php echo $this->return; ?>" />
</form>	


		
<table id="tablaGral" height=750 width=100% ALIGN=center>


	<tr>
		<td colspan="2" id="celdaBienvenida" height="100px">

			<div id="Titulos"> Menu de Gerente</div>
		</td>

	</tr>

	<tr>
	<td id="celdaBienvenida">
		 <div id="menu">
			<ul>
			<li><a id="efectoBoton" href="/login/menuProd">Gestion de Productos</a>
			</li>
			<li><a id="efectoBoton">Gestion de  Depositos</a>
			</li>
			<li><a id="efectoBoton" href="/login/ventaProd">Venta de Materiales</a>
			</li>
			<li><a id="efectoBoton">Entrega de Materiales</a>
			</li>
			</ul>
		</div>

		<td id="aplicacion"></td>
	</td>

	</tr>



</table>


 
</body>
</html>